body {
  color: #40514e;
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}
p{
  line-height: 2;
}
h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.62rem;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin: 30px auto 20px auto;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.web {
  text-decoration: underline;
}

.top-container {
  background-color: #E4F9F5;
  padding-top: 100px;
}

.middle-container {
  margin-top: 50px;
}

.intro{
  width: 30%;
  margin: auto;
}

.vikash{
  height: 10%;
  width: 10%;
}

.dots{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;

}

.bottom-container {}

.bottom-cloud {
  position: absolute;
  left: 25%;
  bottom: 30%;
}

.top-cloud {
  position: absolute;
  right: 25%;
  top: 50px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}

.skill-image {
  height: 25%;
  width: 25%;
  padding-right: 30px;
}

.code-img {
  float: left;
}

.chill-img {
  float: right;
  padding-left: 30px;
}

.btn{
  background-color: #11cdd4;
  border-radius: 8px;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 100px;

}

.btn:hover {
  background-color: #4CAF50;
  color: white;
}

.bottom-container{
  background-color:#66BFBF ;
  padding-top: 50px;
  padding-bottom: 20px;
}

.footer-link{
  padding-left: 50px;
  color: #11999E;
  text-decoration: none;
}

.footer-link:hover{
  color: #EAF6F6;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.76rem;
  padding: 20px 0;
}

.contact-me{
  width: 40%;
  margin: 40px auto 60px;
}
